body {
    background-color: pink;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: white;
    text-align: center;
    padding: 20px;
  }
  
  .tabs {
    background-color: #ffcccc;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .content {
    display: none;
    padding: 20px;
  }
  
  h2 {
    color: #ff0066;
  }
  
  button {
    background-color: #ff0066;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #ff0066;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  }
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
  
  .shake {
    animation: shake 0.5s ease-in-out infinite;
  }
  #Image1 {
    height: 225px;
    width: 225px;
    margin-top: 20px;
    border: 2px solid #ff0066;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  }
  #Image2 {
    height: 200px;
    width: 300px;
    margin-top: 20px;
    border: 2px solid #ff0066;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  }
  #Image3 {
    height: 300px;
    width: 200px;
    margin-top: 20px;
    border: 2px solid #ff0066;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  }
  #Image4 {
    height: 200px;
    width: 850px;
    margin-top: 20px;
    border: 2px solid #ff0066;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  }
  #Image5 {
    height: 800px;
    width: 1200px;
    margin-top: 2000px;
    border: 2px solid #ff0066;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  }
  #Image6 {
    height: 1480px;
    width: 920px;
    margin-top: 2000px;
    border: 2px solid #ff0066;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.5);
  }
